

<div class="table table-bordered">
    <div class="panel-heading">
        <h4>Create A New Role</h4>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("Create", "Roles", new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div>
                Role name: @Html.TextBox("RoleName")
                <input type="submit" value="Save" class="btn-primary" />
            </div>
        }

    </div>
</div>

<div>
    @Html.ActionLink("Back", "Index", "Roles")
</div>

